# github
.github

# dependency directories
node_modules

# ignore files for PNPM
pnpm-lock.yaml

# script update content
*/LIST.md
*/*/**/*.md

# PHP Desktop
COM-2305/phpdesktop/*

# sql
COM-1602/Exam/1/order.sql
COM-2305/67-09-16/database.sql
