# github
.github

# icon resources
resources

# dependency directories
node_modules
.dart_tool

# build
build

# ignore files for bun
bun.lock

# script update content
*/LIST.md
*/*/**/*.md
!COM-3302/Project/OOP_Database/README.md

# PHP Desktop
COM-2305/phpdesktop/*

# sql
COM-1602/Exam/1/order.sql
COM-2305/67-09-16/database.sql
COM-4304/Project/drink_shop/supabase/**/*.sql

# already prettier
COM-3414/Exercise/md5-login-system

# ignore submodule
COM-4304/Project/drink_shop