{
	"bracketSameLine": true,
	"bracketSpacing": true,
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"printWidth": 180,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
